* {
  margin: 0;
  font-family: "SVN-Cera-Round", sans-serif;
}

@font-face {
  font-family: "SVN-Cera-Round";
  src: url(./font/SVN-Cera-Round-Medium.ttf);
}

#root {
  width: 90%;
  max-width: 400px;
  background: linear-gradient(135deg, #22bd93, #2a2155);
  color: white;
  margin: 40px auto;
  border-radius: 25px;
  padding: 20px 20px;
}

#search {
  display: flex;
  justify-content: center;
  text-align: center;
}

#inputSearch {
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  flex: 1;
  border-radius: 10px;
  margin-right: 16px;
  border: 0;
  outline: 0;
  color: #757575;
  position: relative;
  z-index: 10;

  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(194, 226, 221, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#search button {
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 60px;
  padding: 0 20px;
  cursor: pointer;

  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(194, 226, 221, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#search button:hover {
  background-color: rgba(194, 226, 221, 1);
}

.fa-magnifying-glass {
  font-size: 16px;
  color: #757575;
}

.weather-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.city {
  font-size: 42px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.description {
  font-size: 20px;
  font-weight: 300;
  padding-top: 8px;
  text-transform: capitalize;
}

.weather {
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}

.temp {
  font-size: 120px;
  text-align: center;
  position: relative;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.4)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.unit-c {
  font-weight: 300;
  position: absolute;
  top: -20px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.4)
  );
  -webkit-background-clip: text;
}

.weather-icon {
  position: relative;
  width: 180px;
  margin-top: -60px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  z-index: 5;
}

.details {
  font-size: 16px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.col {
  width: 54%;
  margin: -10px;
}

.details_container {
  height: 150px;
  margin: 20px 10px 10px 10px;
  padding: 10px 15px;
  border-radius: 10px;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(194, 226, 221, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.title {
  font-weight: 300;
  text-align: start;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.info {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}

.cloud,
.humidity,
.wind,
.visibility {
  font-size: 35px;
}

.message {
  font-size: 16px;
}

.hidden {
  display: none;
}
